<nav class="navbar navbar-expand-sm bg-primary navbar-dark" [ngStyle]="{backgroundImage:'url(./assets/Rest1.jpg)'}">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="isLoggedIn$ | async as isLoggedIn;else login">
      <button style="font-weight: bolder;margin-left: 1200px" (click)="onLogout()" *ngIf="isLoggedIn"
        class="btn btn-light">Logout</button>
    </li>
    <ng-template #login>
      <button style="font-weight: bolder" (click)="adminLogin()" class="btn btn-light">Admin Login</button>
    </ng-template>
    <li>
    </li>
  </ul>
</nav>
<div class="container" [ngStyle]="{backgroundImage:'url(./assets/Rest3.jpg)'}">
  <br>
  <h1
    style="text-align: center;color: rgb(92, 52, 4);background-color: rgb(247, 209, 134);font-family:'Courier New', Courier, monospace;font: bolder;">
    <u>{{title}}</u>
  </h1>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>