<nav class="navbar" ><!--  navbar-expand-sm, bg-primary navbar-dark -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <!--           <a routerLink="add" class="nav-link" routerLinkActive="active">Add Restaurant</a> -->
        <button (click)="createRestaurant(rest)" class="btn btn-success" style="margin-left: 10px">Add Restaurant</button>
   <!--      <h3 style="color: brown;">Welcome-{{Admin.username}}</h3> -->
      </li>
    </ul>
  </nav>
  <br>
   <div class="table-responsive">
    <div class="panel-heading">
      <h2>Restaurant List</h2>
    </div>
    <div class="panel-body">
   <table class="table">
    <thead class="black white-text">
          <tr>
            <th>Restaurant ID</th>
            <th>Restaurant Name</th>
            <th>Open Time</th>
            <th>Close Time</th>
            <th>Last Updated Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rest of restaurants | async">
            <td>{{rest.restid}}</td>
            <td>{{rest.restname}}</td>
            <td>{{rest.openTime}}</td>
            <td>{{rest.closeTime}}</td>
            <td>{{rest.lastModified}}</td>
          <td>
              <button (click)="updateRestaurant(rest.restid)" class="btn btn-info"
              style="margin-left: 10px">Update</button><br><br>
            <button (click)="deleteRestaurant(rest.restid)" class="btn btn-danger"
              style="margin-left: 15px">Delete</button><br><br>
            </td>       
            </tr>
        </tbody>
      </table>
     </div>
  </div>
  <router-outlet></router-outlet>
  <button (click)="list()" class="btn btn-primary">Back to Home Page</button><br>